.experience-container {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  .header {
   margin: 3.125rem 3.125rem 0 3.125rem;
   text-align: left;
  }
  
  .header span {
    font-size: 1.125rem;
    color: #888;
  }
  
  .header h2 {
    font-size: 2.1875rem;
    font-weight: normal;
    margin-top: 0.9375rem;
  }
  .Line{
    width: 98%;
    margin-top: none;
    background-color: #333;
  }
  
  .add-experience-card {
    width: 23.75rem;
    height: 15.625rem;
    border: 1px dashed #b3c7ce;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.125rem 3.125rem 0px 3.125rem;
    flex-direction: column;
    background-color: #f5fafa;
    position: relative;
    border-radius: 1.5rem;
  }
  
  .add-button {
    width: 3.75rem;
    height: 3.75rem;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin-bottom: 0.625rem;
  }
  .add-button:hover{
    cursor: pointer;
    background-color: #333;
  }
  .Add{
    font-weight: 600;
    color: black;
  }
  
  .add-button span {
    font-size: 2.1875rem;
    font-weight: bold;
    color: white;
  }
  
  .add-experience-card p {
    color: black;
    font-size: 1.25rem;
    font-weight: 100;
    margin: 0;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.375rem;
  }
  
  .footer-right {
    display: flex;
    align-items: center;
  }
  
  button {
    border: none;
    padding: 0.625rem 1.25rem;
    font-size: 0.875rem;
    cursor: pointer;
  }
  
  .back-button {
    background-color: white;
    color: black;
    margin-left: 0.625rem;
    width: 6.25rem;
    border: 1px solid rgb(178, 225, 243);
    border-radius: 0.5rem;
  }
  .back-button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
  }
  
  .skip-button {
    background-color: transparent;
    color: black;
    font-weight: 500;
    margin-right: 0.625rem;
    width: 6.25rem;
    border-radius: 0.5rem;
  }
  .skip-button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
  }
  .next-button {
    background-color: #bff8f8;
    color: black;
    margin-right: 0.625rem;
    width: 6.25rem;
    border-radius: 0.5rem;
  }
  .next-button:hover{
    cursor: pointer;
    background-color: aqua;
  }